<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IZadanie7" />
                <binding name="NetNamedPipeBinding_IZadanie71" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/ksr-wcf1-zad7" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IZadanie7" contract="ServiceReference1.IZadanie7"
                name="NetNamedPipeBinding_IZadanie7">
                <identity>
                    <userPrincipalName value="DESKTOP-CSDS454\huber" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/ksr-wcf1-zad7" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IZadanie71" contract="ServiceReference2.IZadanie7"
                name="NetNamedPipeBinding_IZadanie71">
                <identity>
                    <userPrincipalName value="DESKTOP-CSDS454\huber" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>